body {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
}

a,
p {
   text-decoration: none;
   margin: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

.container {
   width: 100%;
   max-width: 1240px;
   margin: 0 auto;
}

::-webkit-scrollbar {
   width: 0;
}

/* Header */
.header {
   display: flex;
   width: 100%;
   height: 60px;
   background-color: #fff;
   border-radius: 0 0 10px 10px;
   box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.header_inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   display: flex;
   height: 60px;
   padding: 6px;
}

/* Navigation */
.nav {
   font-size: 12px;
}

.nav_link {
   display: inline-block;
   vertical-align: top;
   margin: 0 24px;

   color: #000;
   font-size: 12px;
   font-weight: 600;
   
   transition: color .2s linear;
   position: relative;
}

.nav_link::after {
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   display: none;

   background-color: #E50050;

   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1;
   border-radius: 40px;
   margin-top: 3px;
}

.nav_link:hover {
   color: #4CAF8A;

}

.nav_link:hover::after {
   display: block;
}

/* Intro */
.background,
.background_admin {
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   
   width: 100%;
   height: 550px;
   background: linear-gradient(98deg, rgba(77, 186, 145, 0.80) 1.69%, #4caf8aa8 100%);
   
   object-fit: cover;
   z-index: -1;
}

.background_img,
.background_admin_img {
   display: flex;
   position: absolute;
   top: 0;
   left: 0; 
   
   width: 100%; 
   height: 550px;; 
   
   object-fit: cover;
   z-index: -2;
}

.title {
   color: #000;
   font-size: 45px;
   font-style: normal;
   font-weight: 700;
   line-height: 60px;
   width: 550px;
   margin-top: 170px;
}

.subtitle {
   color: #000;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px;
}

.doctor_picg {
   display: flex;
   margin-top: -295px;
   margin-left: 600px;

   height: 480px;
   width: auto;
}

.button_anonim {
   border-radius: 40px;
   background: #E50050;
   box-shadow: 0px 0px 6px 4px rgba(229, 0, 80, 0.52);
   
   width: 280px;
   height: 70px;

   position: relative;
   margin-left: 810px;
   margin-top: -180px;

   display: flex;
   align-items: center;
   justify-content: center;

   color: #fff;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;

   overflow: hidden;
}

.pulse {
   background-color: #E50050;
   border-radius: 50%;
   animation: pulse .7s ease-out;
   transform: scale(0);
   position: absolute;
}

@keyframes pulse {
   to {
      transform: scale(2);
      background-color: #fff;
      opacity: 0;
   }
}

/* Flyers */
.flyer_1 {
   padding-top: 20px;

   position: relative;
   margin-top: 40px;
   margin-left: 0px;
}

.flyer_2 {
   padding-top: 20px;

   position: relative;
   margin-top: -120px;
   margin-left: 200px;
}

.flyer_3 {
   padding-top: 20px;

   position: relative;
   margin-top: -120px;
   margin-left: 400px;
}

.flyer_styles {
   border-radius: 25px;
   background: #E50050;
   box-shadow: 0px 4px 6px 0px #E50050;
   
   width: 180px;
   height: 120px;

   display: flex;
   justify-content: center;

   color: #FFF;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;

   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;

   overflow: hidden;
}

.flyer_styles:hover {
   -webkit-transform: translateY(-20px);
   transform: translateY(-20px);
}

/* News */
.news_section,
.contact_section {
   border-radius: 15px;
   background: #FFF;
   box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);

   width: 100%;
   height: 470px;

   position:absolute;
   margin-top: 480px;
}

.title_news {
   color: #E50050;
   font-size: 30px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;

   margin-top: 50px;
   position: relative;
}

.pulse_img {
   position: relative;
   margin-left: 280px;
   margin-top: -80px;

   width: 130px;
   height: auto;
}

.block_1 {
   margin-top: 30px;
   margin-left: 60px;

   width: 500px;
   height: 200px;
   border-radius: 25px;
   background: #FFF;
   box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);

   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
}

.block_1:hover {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.block_2 {
   margin-left: 680px;
   margin-top: -200px;

   width: 500px;
   height: 200px;
   border-radius: 25px;
   background: #FFF;
   box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);

   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
}

.block_2:hover {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.block_img {
   width: 200px;
   margin-top: 45px;
   margin-left: 20px;
   border-radius: 15px;
}

.title_block_1 {
   margin-top: -100px;
   margin-left: 250px;

   width: 230px;
   height: 40px;

   color: #000;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.title_block_2 {
   margin-top: -120px;
   margin-left: 250px;

   width: 230px;
   height: 40px;

   color: #000;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.subtitle_block {
   margin-top: 40px;
   margin-left: 250px;

   color: rgba(0, 0, 0, 0.50);
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.button_news {
   border-radius: 40px;
   background: #E50050;
   box-shadow: 0px 0px 6px 4px rgba(229, 0, 80, 0.52);
   
   width: 200px;
   height: 60px;

   position: relative;
   margin: 40px auto;
   z-index: 1;

   display: flex;
   align-items: center;
   justify-content: center;

   color: #fff;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;

   overflow: hidden;
}

.lines_news {
   border-radius: 100px;
   background: #E50050;
   
   position: relative;
   margin-top: -70px;
   z-index: 0;
   
   width: 100%;
   height: 3px;
}

.lines_block {
   background: #fff;

   width: 240px;
   height: 60px;

   position: relative;
   margin: -33px auto;

   z-index: 0;
}

/* Admin */
.background_admin {
   margin-top: 1000px;
   height: 700px;
   background: rgba(76, 175, 138, 0.83);
}

.background_admin_img {
   margin-top: 1000px;
   height: 700px;
}

.title_admin {
   position: relative;
   margin-top: 200px;

   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.subtitle_admin {
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px;
}

.button_admin {
   position: relative;
   margin-top: 60px;

   width: 350px;
   height: 50px;

   border-radius: 40px;
   background: #E50050;
   box-shadow: 0px 0px 4px 2px rgba(229, 0, 80, 0.52);

   display: flex;
   align-items: center;
   justify-content: center;

   color: #fff;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;

   overflow: hidden;
}

.doctor_admin {
   width: 300px;
   height: auto;
   flex-shrink: 0;

   border-radius: 19px;
   background: lightgray 50% / cover no-repeat;
}

.doctor_admin_1 {
   position: absolute;
   margin-left: 800px;
   margin-top: -350px;
}

.doctor_admin_2 {
   position: absolute;
   margin-left: 1000px;
   margin-top: -100px;
   z-index: -1;
}

.doctor_admin_3 {
   position: absolute;
   margin-left: 600px;
   margin-top: -100px;
   z-index: -1;
}

/* Contact */
.contact_section {
   position:absolute;
   margin-top: 1600px;
}

.title_contact {
   color: #000;
   font-size: 40px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;

   position: relative;
   margin: 30px 520px;
}

.block_contact_center {
   margin: 0 auto;

   width: 360px;
   height: 150px;

   border-radius: 15px;
   background: #FFF;
   box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);

   padding-top: 5px;
   padding-left: 30px;
}

.title_in_block {
   color: #4CAF8A;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;

   margin-top: 10px;
}

.block_contact_left {
   margin-top: -150px;
   float: left;

   width: 360px;
   height: 150px;

   border-radius: 15px;
   background: #FFF;
   box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);

   padding-top: 5px;
   padding-left: 30px;
}

.subtitle_block_left {
   margin-top: 10px;

   color: #000;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.block_contact_right {
   margin-top: -150px;
   float: right;

   width: 360px;
   height: 150px;

   border-radius: 15px;
   background: #FFF;
   box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);

   padding-top: 5px;
   padding-left: 30px;
}

.block_contact_bottom {
   margin: 50px auto;

   width: 100%;
   height: 150px;

   border-radius: 15px;
   background: #FFF;
   box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.container_for_block {
   max-width: 1000px;
}